.container {
    
  margin-top: 20px; 
  }
  
  
  td {
    color: rgb(65, 252, 8);
  }
  th {
    color: rgb(65, 252, 8);
  }
  

  body {
    background-color: rgba(12,23,43,255);
    color: rgb(234, 250, 5);
  }

  .tr-violet {
    background-color: rgb(246, 250, 7);
  }

  th.black-text {
    color: black;
  }
  
  


  